@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 900;
}
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
  background: none;
  border: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.bg {
  background: url("../img/images/bg-image.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #00234B;
}
.header-content {
  padding: 35px 0;
  display: flex;
  align-items: center;
}
.header-nav__collapse {
  width: 100%;
  display: flex;
  align-items: center;
}
.header-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}
.header-nav a {
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  transition: 0.6s all;
  color: #FFFFFF;
  position: relative;
}
.header-nav a:hover {
  color: #00FEFF;
}
.header-nav a::before {
  content: "";
  width: 0;
  position: absolute;
  bottom: -0.25rem;
  height: 0.125rem;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
  border-radius: 0.75rem;
  background: #00FEFF;
  transition: 0.6s all;
}
.header-nav a:hover::before {
  width: 100%;
}
.header-contacts {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}
.header-contacts p {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}
.header-contacts p span {
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
}

.select-language {
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.05em;
  color: #00FEFF;
  padding: 7px 5px;
  border: 1px solid #00FEFF;
  border-radius: 50%;
  margin-left: 25px;
}

.hamburger-menu {
  margin-left: auto;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.1875rem;
  box-sizing: border-box;
  position: relative;
  display: none;
}
.hamburger-menu span {
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0.6875rem;
  left: 0;
  right: 0;
  border-radius: 0.625rem;
  background: #FFFFFF;
  transition: 0.6s all;
}
.hamburger-menu span::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: 0.375rem;
  left: 0;
  right: 0;
  border-radius: 0.625rem;
  background: #FFFFFF;
  transition: 0.6s all;
}
.hamburger-menu span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  top: -0.375rem;
  left: 0;
  right: 0;
  border-radius: 0.625rem;
  background: #FFFFFF;
  transition: 0.6s all;
}

.hamburger-menu.is-active span {
  transform: rotate(135deg);
}
.hamburger-menu.is-active span::before {
  top: 0;
  transform: rotate(90deg);
}
.hamburger-menu.is-active span::after {
  width: 0;
  height: 0;
  top: 0;
}

@media screen and (max-width: 920px) {
  .header {
    padding: 10px 20px;
  }
  .header-contacts {
    margin-top: 20px;
    margin-left: 0;
  }
  .hamburger-menu {
    display: block;
  }
  .header-nav__collapse {
    display: flex;
    flex-direction: column;
    transition: 0.6s all;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 7.55rem;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 2.5rem;
    box-sizing: border-box;
    background: #00234B;
    z-index: 99999;
  }
  .header-nav__collapse.is-active {
    max-height: 50rem;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .header-nav {
    margin-left: 0;
    flex-direction: column;
  }
  .header-nav a {
    text-align: center;
  }
}
.banner {
  padding: 40px 0 70px 0;
  display: flex;
}
.banner-content {
  display: flex;
  flex-direction: column;
}
.banner-content h1 {
  max-width: 568px;
  font-weight: 900;
  font-size: 50px;
  line-height: 110%;
  color: #00FEFF;
}
.banner-content__info {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
}
.banner-content__info h3 {
  font-weight: 900;
  font-size: 18px;
  line-height: 103.32%;
  color: #00FEFF;
}
.banner-content__info p {
  max-width: 230px;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
}
.banner-content__info p span {
  font-size: 36px;
}
.banner-content a {
  margin-top: 28px;
  display: flex;
  align-items: center;
  gap: 11px;
  width: max-content;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 14px 22px;
  border: 1px solid #00FEFF;
  background: #00FEFF;
  color: #002047;
  transition: 0.6s all;
}
.banner-content a:hover {
  background: none;
  color: #FFFFFF;
}
.banner-content__btn-icon {
  width: 25px;
  height: 25px;
  fill: #001E42;
  transition: 0.6s all;
}
.banner-desc {
  max-width: 460px;
  margin-top: auto;
  margin-left: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-align: right;
  color: #FFFFFF;
}

.banner-content a:hover .banner-content__btn-icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 920px) {
  .banner {
    padding: 30px 20px;
  }
  .banner-content {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .banner-content__info {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .banner-desc {
    display: none;
  }
}
@media screen and (max-width: 520px) {
  .banner-content h1 {
    font-size: 36px;
  }
  .banner-content__info {
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .banner-desc {
    display: none;
  }
}
.about {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.about h1 {
  max-width: 186px;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #001E42;
}
.about p {
  margin-left: auto;
  max-width: 821px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #252D37;
}

@media screen and (max-width: 920px) {
  .about {
    margin-top: 40px;
    gap: 30px;
    padding: 0 20px;
    justify-content: center;
    text-align: center;
  }
}
.services {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
.services h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #001E42;
}
.services-content {
  display: flex;
  flex-direction: column;
}
.services-content__items {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.services-content__item {
  width: 307px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.services-content__item span {
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #001E42;
}
.services-content__info {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-content__info h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #001E42;
}
.services-content__info-desc {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.services-content__info-desc p {
  max-width: 529px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: #252D37;
}
.services-content__info a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  padding: 14px 22px;
  background: #00FEFF;
  border: 1px solid #00FEFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #002047;
  transition: 0.6s all;
}
.services-content__info a:hover {
  background: #FFFFFF;
}
.services-content__info-btn__icon {
  width: 25px;
  height: 25px;
  fill: #002047;
}
.services-content__goal {
  margin-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 125px;
}
.services-content__goal-logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.services-content__goal-logo span {
  max-width: 174px;
  font-weight: 700;
  font-size: 48px;
  line-height: 115%;
  color: #001E42;
}
.services-content__goal p {
  max-width: 521px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #001E42;
}
.services-content__connect {
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.services-content__connect h3 {
  max-width: 920px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #001E42;
}
.services-content__connect-items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;
}
.services-content__connect-item {
  display: flex;
  align-items: center;
}
.services-content__connect-item span {
  font-weight: 700;
  font-size: 96px;
  line-height: 117px;
  color: #00FEFF;
}
.services-content__connect-item p {
  max-width: 298px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #001E42;
}

/*# sourceMappingURL=style.css.map */
